*{
   margin:0;
   padding:0; 
}
body{
    background-color: #eee;
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1000px;
    background-color: #e4f9f5;
    margin:0 auto;
    padding:20px;
}
p,li{
    text-size:14px;
}
header{

}
.profile-image{
    width:100px;
    height: 120px;
    border:3px solid white;
    border-radius: 50%;
    float:left;
}
.header-bio{
    float:left;
    padding:30px;
}
h1,h2,h3,h4,h5,h6{
    color:#11999e;
}
.header-contact{
    float:right;
    padding:30px;
}
.header-contact a{
    text-decoration:none;
    color:teal;
    font-weight:bold;
}
.header-contact a:hover{
    text-decoration:underline;
    color:tomato;
}
.div-clear{
    clear:both;
}
hr{
    border:solid black 3px;
    width:100%;
    margin:20px auto;
    border-bottom: none;

}

/* personal information start */
#personal-section{

}
.left-div{
    width:30%;
    float:left;
}
.right-div{
    width:70%;
    float:right;
}
.common-hr{
    border:solid black 1px;
    border-bottom: none;
    width:100%;
    margin:20px auto;
}
#work-detail{
    font-weight:bold;
    text-decoration: underline;
}
#list-padding{
    padding:5px;
    list-style-position: inside;
}
#ul-list-padding{
    list-style-type: square;
}
#key-section1{
    float:left;
    width:45%;

}
#key-section2{
    float:right;
    width:45%;

}
.key-skill-section1{
    list-style-position: inside;
    list-style-type: square;
    
}
.key-skill-section2{
    list-style-position: inside;
    list-style-type: square;
}
#edu-section1{
    
    text-size:14px;
    float:left;
    width:45%;
   
}
#edu-section2{
    text-size:14px;
    float:right;
    width:45%;
   
}
/*
footer start
*/
#footer-continer{
    background-color: black;
    color:white;
    text-align: center;
    padding:10px;
}
#footer-continer a{
    color:white;
    text-decoration: none;
    margin:20px;
}
#footer-continer a:hover{
    text-decoration: underline;
}
#footer-continer p{
    color:white;
    
    margin-top:20px;
}
#footer-continer p:hover{
    color:red;
}